@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Montserrat:wght@300&display=swap&family=Montserrat+Alternates:ital,wght@1,500&display=swap&family=Open+Sans:wght@300&display=swap');
body{
    background-color: white;
    margin: 0;
}
main{
    margin: auto;
    margin-bottom: 20px;
    margin-left: 20px;
}

#site-name{
    background-image: url('../images/mountain600word.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

#site-name h2{
    color: #476039;
    font-family: 'Karla', sans-serif;
    text-align: left;
    font-size: 3em;
    background-color: white;
    width: 45%;
    padding-left: 5px;
}

section{
    margin-top: 20px;
    height: 30vh;
    width: 85vw;
    font-size: .75em;
    padding: 10px;
    border-top: 3px solid #566246;
}

h2{
    font-family: 'Karla', sans-serif;
}

h1{
    font-family: 'Karla', sans-serif;
}

#spotlight {
    height: 60vh;
    padding-top: 30px;
    margin-top: 20px;
    border-top: 3px solid #566246;
}

#spotlight1 {
    height: 50%;
    border-top: 2px solid #566246;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.spotlightLower{
    display: flex;
    flex-direction: row;
    font-size: .83em;
}
#spotlight2 {
    height: 50%;
    width: 100%;
    border-top: 2px solid #566246;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#spotlight3 {
    display: none;
    margin: auto;
    border-top: 2px solid #566246;
}

.slogan{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 30px;
}

#lowerfooter {
    border-top-style: solid;
    border-width: 1px;
    margin-top: 5px;
    
}

footer{
    text-align: center;
    font-family: 'Karla', sans-serif;
}


#logo {
    border-radius: 50%;
    width: 35%;
}



#join {
    display: none;
    
}

.btn{
    background-color: #A4C2A5;
    border-style: none;
    font-family: 'Karla', sans-serif; 
    color: #566246;
    font-size: 2em;
    margin-left: 20px;
}

a {
    font-family: 'Karla', sans-serif; 
    color: #566246;
    margin-bottom: 5px;
}

#headergrid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr 1fr;
}
header{
    background-color: #A4C2A5;
    width: 100vw;
    margin: auto;
}

#date{
    font-family: 'Karla', sans-serif; 
    grid-row: 2/3;
    grid-column: 1/11;
    text-align: center;
    background-color: #C9E1BF;
    width: 100%;
    color: #566246;
    padding-top: 10px;
}

#title{
    font-size: .75em;
    grid-column: 2/8;
    text-align: center;
    color: #566246;
}

#facebook{
    grid-column: 8/11;
    grid-row: 1/2;
    height: auto;
    width: .75em;
}

#twitter{
    grid-column: 8/11;
    grid-row: 1/2;
    height: auto;
    width: 1.25em;
}

nav {
    display: flex;
    flex-direction:column;
    display: none; 
    background-color: #C9E1BF;
    align-content: space-evenly;
    text-align: center;
    width: 75%;
    margin: auto;
}

a:hover {
    font-size: 150%;
}

.showMenu{
    display: flex;
    flex-direction: column;
}

#headerlogo {
    border-radius: 50%;
    width: 95%;
    grid-column: 8/11;
    grid-row: 1/2;
    margin: auto
}

#maintitle{
    margin-bottom: -10px;
}

main h2 {
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    text-align: center;
}

.banner{
    display: none;

}

.showBanner{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: center;
    height: 50%;
    background-color: #FFF6A1;
    background-image: url('../images/mountains.jpg');
    object-fit: cover;
    padding-top: 0px;
}

#bannertext {
    background: rgba(255,255,255, .65);
}

#lowerfooter{
    font-size: .65em;
}

#buttonParent{
    position: relative;
    width: 338px;
    height: 157px;
}

#joinButton{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #E65F5C;
    height: 60px;
    width: 165px;
    border-style: none;
    color: white;
    font-family: 'Karla', sans-serif; 
    font-size: 2em;
}

#degrees{
    font-size: 2em;
    font-family: 'Karla', sans-serif; 
    text-align: center;
    
}

#weatherPhoto{
    flex-basis: content;
    grid-column: 1/2;
}

#weatherInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#weatherType{
    font-size: 1.5em;
    margin: 0px;
    margin-top: 25px;
    text-align: center;
    grid-column: 1/3;
}

#weatherText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 2/3;
}

.weatherDetails{
    margin: 0px;
}

.farenheit{
    font-family: 'Montserrat', sans-serif;
}

#weather{
    margin-bottom: 20px;
}

#paw{
    margin: auto;
    width: 25%;
}

#scissors{
    margin: auto;
}

.spotlightContent{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

/* Discover Page */

.discoverBody{
    margin: 0px;
}
.discoverMain{
    margin: auto;
}

/* Form */

form{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-between;
}

label{
    margin-top: 20px;
}

#submit{
    margin-top: 20px;
}

#membershipDescriptions{
    display: none;
}

li{
    font-family: 'Montserrat', sans-serif;
}

label{
    font-family: 'Montserrat', sans-serif;
}

#levelHeading{
    display: none;
}

#thankyou{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 1em;
}

#thankyouMain{
    display: flex;
    justify-content: center;
    height: 50vh;
}

option{
    font-family: 'Open Sans', sans-serif;
}

input{
    font-family: 'Open Sans', sans-serif;
}

#error{
    color: red;
    font-size: .75em;
    text-align: left;
}





/*Medium screen view */
@media only screen and (min-width: 700px) {

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 75px;
        width: 85vw;
        height: 100%;
        margin-bottom: -75px;
        margin: auto;
        margin-left: 55px;
    }

    #spotlight{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: stretch;
        padding-bottom: 30px;
        border-top: 3px solid #566246;
    }

    #spotlightsection{
        grid-row: 3/4;
        grid-column: 1/4;
        width: 100%;
        margin-bottom: 25px;
    }

    #spotlight1 {
        height: 100%;
        width: 40%;
        margin: auto;
        margin-right: -10px;
        display: flex;
    }

    #spotlight2 {
        height: 100%;
        width: 40%;
        margin: auto;
    }

   

    #weather {
        grid-row: 4/5;
        grid-column: 3/4;
        width: 100%;
        height: 100%;
    }

    #event {
        grid-row: 4/5;
        grid-column: 1/3; 
        width: 100%;
        height: 100%;
    
    }


    #news {
        grid-row: 2/3;
        grid-column: 1/4;
        width: 100%;
        height: 100%;
    }

    #site-name{
        grid-row: 1/2;
        grid-column: 1/4;
        height: 200px;
        position: relative;
        margin: auto;
        margin-top: 30px;
        background-image: url('../images/mountain800word.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    #buttonParent{
        width: 100%;
        grid-column: 1/4;
        margin: auto;
    }

    #maintitle{
        font-size: 4em;
    }

    #date{
        font-size: 1.75em;
    }

    footer{
        font-size: 1.5em;
        margin-top: 60px;
    }

    h2{
        font-size: 2em;
    }

    nav{
        margin-top: -50px;
        font-size: 2em;
    }
    .banner{
        width: 65%;
        margin: auto;
        margin-top: 20px;
    }
    
    .showbanner{
        display: block;
        width: 65%;
        padding-left: 20px;
    }

    #newsText{
        width: 95%;
    }

    /* Discover Page */

    #discoverMain{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 90%;
    }

    .attractionDiv{
        grid-column: 2/3;
    }

    #statistics{
        grid-column: 1/3;
        width: 95%;
    }

    #demographics{
        grid-column: 1/3;
        grid-row: 2/3;
        width: 95%;
    }

    .attractionDivOne{
        grid-column: 1/2;
        width: 50%;
        font-size: .85em;
        align-items: center;
        margin: auto;
        row-gap: 0px;
        text-align: center;
    }

    .attractionDivTwo{
        grid-column: 2/3;
        width: 50%;
        font-size: .85em;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
    }


    #attractionsHeading{
        grid-column: 1/3;
    }

    .container:hover .photoHover {
        opacity: .3;
    }
    
    .container:hover .hoverText{
        opacity: 1;
    }
    
    .container{
        height: 37%;
        position: relative
    }
    
    .hoverText{
        position: absolute;
        background-color:#476039;
        opacity: 0;
        border-radius: 5px;
        padding: 5px;
        color: white;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
    .photoHover{
        display: block;
        width: 100%;
        height: 100%;
    }
    

    #attractionsHeading{
        height: 25%;
    }
   
    .attractionText{
        font-size: .95em;
        text-align: center;
    }

    /* Form */
    #formMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% auto;
        grid-column-gap: 65px;
        grid-row-gap: 20px;
        margin-bottom: 100px;
    }

    form{
        grid-column: 1/2;
        width: 100%;
        grid-row: 2/3;
    }

    #membershipDescriptions{
        display: block;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        grid-row: 2/3;
    }

    #memberHeading{
        grid-row: 1/2;
        grid-column: 1/2;
        margin-top: 50px;
    }
    #levelHeading{
        grid-row: 1/2;
        grid-column: 2/3;
        display: block;
        margin-top: 50px;
        text-align: center;
    }


    
}


/*Large screen view */
@media only screen and (min-width: 1000px){



    main{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 50px;
        height: 100%;
        margin-bottom: 70px;
        margin: auto;
        width: 95vw;
    }

    #event{
        grid-row: 1/2;
        grid-column: 1/2;
        width: 90%;
    }

    #weather{
        grid-row: 2/3;
        grid-column: 1/2;
        width: 90%;
    }

    #site-name{
        grid-row: 1/3;
        grid-column: 2/4;
        width: 90%;
        height: 95%;
        position: relative;
        background-image: url('../images/mountain1000word.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    #buttonParent{
        width: 100%;
        height: 100%;
        margin: auto;
        grid-column: 2/4;
        grid-row: 1/3;
    }

  
    #news{
        grid-row: 3/4;
        grid-column: 2/4;
        width: 94%;
    }

   

    #spotlightsection {
        grid-row: 1/4;
        grid-column: 4/5;
        width: 100%;
        height: 100%;
    }

    #spotlight{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #spotlight3 {
        flex-direction: column;
        display: flex;
        height: 30%;
        width: 85%;
        
    }

    #clothesButton{
        width: 30%;
        margin: auto;
        margin-left: 20px;
    }

    #spotlight2 {
        height: 30%;
        width: 85%;
    }

    #spotlight1 {
        height: 30%;
        width: 85%;
        margin: auto;
    }

    #join{
        display: grid;
        width: 95%;
        grid-column: 1/2;
        grid-row: 3/4;
        height: 100%;
    }

    #logo{
        width: 10%;
    }

    #headerlogo{
        width: 30%;
    }

    footer{
        height: 100%;
        font-size: 1.25em;
        margin-top: 60px;
    }

    .hamburger{
       display: none;
    }
    
    button{
       display: none;
    }

    nav {
        display: flex;
        flex-direction: row; 
        grid-column: 3/9;
        grid-row: 2/3;
        font-size: 1.5em;
        justify-content: space-around;
        width: 100%;
        height: 2.5em;
        padding-top: 25px;
    }

    #title{
        grid-column: 4/8;
        grid-row: 1/2;
        text-align: center;
        margin-right: 20px;
        font-size: .65em;
    }

    #date{
        grid-row: 1/2;
        grid-column: 1/4;
        margin: auto;
        border-style: solid;
        border-color: #566246;
        padding: 15px;
        margin-left: 10px;
    }

    header{
        padding-bottom: 10px;
        width: 100%;
    }

    .banner{
        width: 55%;
    }

    #joinButton{
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    /* Discover Page */

    #discoverMain{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 75px auto;
        row-gap: 10px;
    }

    .attractionDivOne{
        grid-column: 2/3;
    }

    .attractionDivTwo{
        grid-column: 2/3;
    }

    #statistics{
        grid-column: 1/2;
        grid-row: 1/3;
        width: 95%;
    }

    #demographics{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 95%;
    }

    

    .attractionPhotos{
        height: 100%;
    }

    #attractionsHeading{
        grid-column: 2/3;
        height: 25%;
        grid-row: 1/2
    }

    /* Form */

    li{
        font-size: 1.5em;
    }

    form{
        width: 65%;
        margin-left: 90px;
    }

    #memberHeading{
        margin-left: 90px;
    }
    

   
}

